@charset "utf-8";
/* CSS Document */
/*样式重置。 list-style:none 去掉无序列表小圆点。如果浏览器不支持第一个字体，则会尝试下一个。字体加粗。数字值400等于关键字normal，700 等于bold*/
*{margin:0px;padding:0px;list-style:none;text-decoration:none;font-family:"微软雅黑", "宋体", "黑体";font-weight:normal;}
/*页头*/
#headCon{
	min-width:1200px;/* 对元素的宽度设置最小限制，可以比指定值宽，但不能比其窄。不允许指定负值。 */
}
#headCon>div{
	width:1200px;
	margin:auto;
	margin-top:10px;
	overflow:hidden;
}
/* 我的甜品 你的心~设置 */
#headCon>div>p{
	float:left;
	font-size:14px;
	color:#999;
}
/* 请登录框设置 */
#headCon>ul{
	width:1200px;
	margin:auto;
	overflow:hidden;
	margin-top:30px;
}
/* sweetlove图片设置 */
#headCon>ul>a>li{
	float: left;
	width:92px;
	height:63px;
	background:url(../images/sprite.png) no-repeat -23px 0px;
}
/* 请登录文字设置 */
#headCon>ul>p{
	float:left;
	font-size:24px;
	color:#4c4c4c;
	margin-top:24px;
	margin-left:20px;
}
/* 请登录的左边一竖线设置 */
#headCon>ul>span{
	float:left;
	width:1px;/* 请登录的左边一竖为span框的宽度为1px */
	height:45px;
	background:#d2d2d2;
	margin:10px 0 0 20px;
}

/*内容*/
#contentCon{
	min-width:1200px;
	margin:auto;
}
/* 背景图 */
#contentCon>div{
	min-width:1200px;
	height:600px;
	margin-top:50px;
	background:url(../images/banner06_02.jpg) center no-repeat;

}
/* 登录的虚化背景 */
#contentCon>div>ul{
	width:670px;
	height:510px;
	background:rgba(255,255,255,0.8);/* 控制背景色的透明度：前3控制颜色，后1控制透明度 */
	position:absolute;
	right:30px;
	top:210px;
}
/* 普通登录和快捷登录文字设置 */
#contentCon>div>ul>li{
	overflow:hidden;
	margin-left:80px;
	margin-top:20px;
}
/* 对普通登录设置 */
#contentCon>div>ul>li>a>.ordinary{
	color:#4c4c4c;
	float:left;/* 左浮动让"快捷登录到右边" */
	width:126px;
	height:50px;
	font-size:18px;
	text-align:center;/* 文本对齐方式为中间对齐 */
	line-height:50px;/* 设置行间的距离（行高）不允许使用负值 */
	border-top:1px solid #fb0000;
	border-right:1px solid #fb0000;
}
#contentCon>div>ul>li>a>.ordinary:active  {
	color: #FB0000;
}
/* 对快捷登录设置 */
#contentCon>div>ul>li>a>.fast{
	color:#4c4c4c;
	float:left;
	width:350px;
	height:50px;
	font-size:18px;
	text-align:center;
	line-height:50px;
	border-bottom:1px solid #fb0000;
}
#contentCon>div>ul>li>a>.fast:active  {
	color: #FB0000;
}
/* 登录账号的设置 */
#contentCon>div>ul>.name{
	color:#999;
	width:414px;
	height:44px;
	border:1px solid #d2d2d2;

	margin-top:40px;
	margin-left:114px;
	padding-left:14px;
	font-size:14px;
}
/* 登录密码的设置 */
#contentCon>div>ul>.password{
	color:#999;
	width:414px;
	height:44px;
	border:1px solid #d2d2d2;

	margin-top:20px;
	margin-left:114px;
	padding-left:14px;
	font-size:14px;
}
/* 登录按钮的设置 */
#contentCon>div>ul>a{
	color:#fff;
	background:#fb0000;
	display:block;/* 用于定义建立布局时元素生成的显示框类型,此元素将显示为块级元素，此元素前后会带有换行符 */
     width: 428px;
	height:44px;
	line-height:44px;
	text-align:center;
	font-size:18px;
	margin-top:40px;
	margin-left:114px;
	margin-right: 125px;
}
/* 忘密和注册的div设置 */
#contentCon>div>ul>div{
	margin:auto;
	width:428px;
	margin-top:20px;
	margin-left:114px;
	overflow:hidden;
}
/* 忘密和注册文字的设置 */
#contentCon>div>ul>div>a{
	color:#4c4c4c;
	float:left;
	font-size:14px;
}
/* 去注册的设置 */
#contentCon>div>ul>div>.text02{
	float:right;
}
#contentCon>div>ul>div>a:hover{
	color:#fb0000;
}
/* 其他登录方式位置的设置 */
#contentCon>div>ul>ol{
	margin:auto;
	width:428px;
	margin-top:24px;
	margin-left:114px;
	overflow:hidden;
}
/* 其他登录方式左边横线的设置 */
#contentCon>div>ul>ol>span{
	float:left;
	width:148px;
	height:1px;
	background:#d2d2d2;
	margin-top:10px;
}
/* 其他登录方式文字描述的设置 */
#contentCon>div>ul>ol>p{
	color:#4c4c4c;
	float:left;
	margin:0 15px;
}
/* 其他登录方式右边横线的设置 */
#contentCon>div>ul>ol>i{
	float:left;
	width:148px;
	height:1px;
	background:#d2d2d2;
	margin-top:10px;
}

#contentCon>div>ul>.other{
	margin:auto;
	margin-top:30px;
	margin-left:160px;
	overflow:hidden;
}
/* QQ */
#contentCon>div>ul>.other>span{
	float:left;
}
#contentCon>div>ul>.other>span>p{
	color:#4c4c4c;
	font-size:16px;
	margin-top:10px;
	margin-left:8px;
}
#contentCon>div>ul>.other>span>.QQ{
	display:block;/* 生成的显示框类型 */
	width:40px;
	height:40px;
	background:url(../images/sprite.png) -716px 0px;
}
/* 微信 */
#contentCon>div>ul>.other>.middle{
	margin:0 100px;
}
#contentCon>div>ul>.other>.middle>.weixin{
	display:block;
	width:45px;
	height:40px;
	background:url(../images/sprite.png) -756px 0px;
}
/* 微博 */
#contentCon>div>ul>.other>span>.weibo{
	display:block;
	width:50px;
	height:40px;
	background:url(../images/sprite.png) -804px 0px;
}

/*页脚*/
/* 3大优势描述位置和背景设置 */
#footCon>ul{
	width:1200px;
	height:168px;
	background:#eee;
	margin:auto;
	overflow:hidden;
	margin-top:80px;
}
#footCon>ul>li{
	width:330px;
	float:left;
	margin-top:45px;
	margin-left:70px;
	overflow:hidden;
}
#footCon>ul>li>.cold{
	width:65px;
	height:65px;
	background:url(../images/sprite.png) no-repeat -351px 0px;
	float:left;
	margin-top:10px;
}
#footCon>ul>li>.wuxiu{
	width:69px;
	height:69px;
	background:url(../images/sprite.png) no-repeat -418px 0px;
	float:left;
	margin-top:10px;
}
#footCon>ul>li>.baoyou{
	width:58px;
	height:72px;
	background:url(../images/sprite.png) no-repeat -488px 0px;
	float:left;
	margin-top:10px;
}
/* 文字描述左边一竖线 */
#footCon>ul>li>span{
	float:left;
	width:1px;
	height:80px;
	background:#fb0000;
	margin:0 30px 0 30px;
}
#footCon>ul>li>ol>h2{
	font-size:30px;
	color:#fb0000;

}
#footCon>ul>li>ol>p{
	font-size:24px;
	color:#4c4c4c;
	margin-top:10px;
}
#footCon>ol{
	width:1200px;
	margin:auto;
	margin-top:50px;
	overflow:hidden;
}
/* 页脚网址设置 */
#footCon>ol>li{
	float:left;
	margin-left:120px;
	margin-right:85px;
}
/* 网址左图 */
#footCon>ol>li>i{/* block：此元素将显示为块级元素，此元素前后会带有换行符。 */
	display:block; /* block块页面布局中,主要是用来将内容从上到下排列的 */
	width:92px;
	height:62px;
	background:url(../images/sprite.png) no-repeat -23px 0px;
	margin-left:20px;
}
/* 设置微博/微信图标 */
#footCon>ol>li>a{
	display:block;
	font-size:14px;
	color:#4c4c4c;
	margin-top:20px;
}
#footCon>ol>li>div{
	overflow:hidden;
	margin-top:24px;
	margin-left:10px;
}
#footCon>ol>li>div>.weibo{
	float:left;
	width:33px;
	height:27px;
	background:url(../images/sprite.png) no-repeat -546px 0px;
}
#footCon>ol>li>div>.weixin{
	float:left;
	width:36px;
	height:30px;
	background:url(../images/sprite.png) no-repeat -582px 0px;
	margin-left:40px;
}
/* 页脚文字 */
#footCon>ol>ul{
	float:left;
	width:540px;
	border-left:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;

}
#footCon>ol>ul>li{
	float:left;
	margin-right:50px;
}
#footCon>ol>ul>.text01{
	margin-left:80px;
}
#footCon>ol>ul>li>p{
	font-size:14px;
	color:#4c4c4c;
}
/* 下划灰线 */
#footCon>ol>ul>li>span{
	display:block;
	width:50px;
	height:1px;
	background:#b5b5b5;
	margin-left:5px;
	margin-top:10px;
}
#footCon>ol>ul>li>a{
	display:block;
	font-size:14px;
	color:#808080;
	margin-top:20px;
}
/* “联系我们”描述div */
#footCon>ol>div{
	text-align:center;
	float:left;
	margin-left:50px;
}
#footCon>ol>div>p{
	font-size:14px;
	color:#4d4d4d;
}
#footCon>ol>div>h2{
	font-size:18px;
	color:#4c4c4c;
	margin-top:20px;
}
#footCon>ol>div>span{
	display:block;/* block：此元素将显示为块级元素，此元素前后会带有换行符。将内容从上到下排列. */
	font-size:14px;
	color:#4d4d4d;
	margin-top:20px;
}
/* 在线客服的圆弧背景 */
#footCon>ol>div>a{
	display:block;
	border-radius:8px;
	width:75px;
	height:25px;
	background:#b5b5b5;
	color:#fff;
	margin-top:20px;
	margin-left:26px;
	font-size:14px;
	line-height: 25px;
}
/* 页脚分割 */
#footCon>div{
	margin:auto;
	width:1200px;
	height:1px;
	background:#b5b5b5;
	margin-top:30px;
}
/* 版权 */
#footCon>li{
	width:1200px;
	margin:auto;
	text-align:center;
	font-size:14px;
	margin-top:40px;
	color:#808080;
}
#footCon>li>span{
	display:block;
	margin-top:20px;
}


