*{
				margin: 0;
				padding: 0;
			}
			.box{				/* 外部大盒子 */
				height: 7000px;
				position: relative;
			}
			.box .text1{		/* 标题 */
				padding-left: 200px;
				color: #7c7c7c;
			}
			.box1{					/* 英文字母 */
				position: absolute;
				top: 30px;
				left: 205px;
			}
			.box1 i{
				color: #7C7C7C;
				font-size: 15px;
				cursor: pointer;
			}
			.box2 .order{
				color: #FF0000;
			}
			.box2{					/* 功能栏 */
				position: absolute;
				top: 0px;
				left: 1200px;
			}
			.box2 ul li{
				list-style: none;
				float: left;
			}
			.box2 ul li a{
				color: #7C7C7C;
				text-decoration: none;
			}
			.box2 ul li a:hover{
				color: #FF0000;
			}
			.box3{				/* 首页 */
				position: absolute;
				left: 350px;
				top: 80px;
			}
			.box3 ul li{
				display: inline-block;
				width: 200px;
				text-align: center;
				list-style: none;
				float: left;
			}
			.box3 ul li a{
				color: #7C7C7C;
				text-decoration: none;
			}
			.box3 ul li a:hover{
				color: #FF0000;
			}
			.box4{				/* 搜索 */
				position: absolute;
				left: 1000px;
				top: 70px;
				width: 300px;
				height: 40px;
				border: 1px solid red;
			}
			.box4 p{
				color: #7C7C7C;
				padding: 10px;
			}
			.box4 i{
				padding-left: 200px;
			}
			.box5{
				position: absolute;
				top: 200px;
				left: 205px;
				width: 200px;
				height: 800px;
				border: 1px solid #999999;
			}
			.box6{
				position: absolute;
				background: url(../images/order_03.jpg)no-repeat;
				border-radius: 50%;
				width: 140px;
				height: 140px;
				top: 20px;
				left: 30px;
			}
			.box5 .text2{
				position: absolute;
				left: 70px;
				top: 170px;
			}
			.box5 .change{
				position: absolute;
				left: 65px;
				top: 200px;
				border: 1px solid #999999;
				background-color: #cccccc;
				color: black;
				border-radius: 10%;
				font-size: 13px;
				text-decoration: none;
			}
			.box5 ul{
				position: absolute;
				left: 20px;
				top: 260px;
			}
			.box5 ul li{
				margin: 40px;
				list-style: none;
			}
			.box5 ul li a{
				color: #848484;
				text-decoration: none;
			}
			.box5 ul li .order{
				color: #FF6600;
			}
			.box7{			/* 横线 */
				position: absolute;
				left: 40px;
				top: 230px;
			}
			.box8{
				position: absolute;
				left: 420px;
				top: 200px;
				width: 950px;
				height: 50px;
				background-color: #e5e5e5;
			}
			.box8 .all{
				color: #FF0000;
				padding-left: 100px;
			}
			.box8 ul li{
				font-size: 20px;
				margin-top: 10px;
				display: block;
				width: 150px;
				float: left;
				list-style: none;
			}
			.box9{
				position: absolute;
				left: 420px;
				top: 280px;
				width: 950px;
				height: 50px;
				border-style: solid none solid none;
				border-color: #e5e5e5;
			}
			.box9 .square{
				position: absolute;
				font-size: 30px;
				left: 10px;
				top: 5px;
				color: #848484;
			}
			.box9 .trash{
				position: absolute;
				font-size: 30px;
				right: 10px;
				top: 5px;
				color: #848484;
			}
			.box9 .text3{
				position: absolute;
				font-size: 20px;
				left: 50px;
				top: 10px;
				color: #848484;
			}
			.box10{
				position: absolute;
				top: 350px;
				left: 420px;
				width: 950px;
				height: 150px;
			}
			.box10 img{
				position: absolute;
				left: 20px;
			}
			.box10 ul li{
				list-style: none;
			}
			.box10 ul li a{
				text-decoration: none;
			}
			.box10 ul li p{
				position: absolute;
				left: 200px;
				top: 40px;
				color: #7C7C7C;
			}
			.box10 ul li span{
				position: absolute;
				left: 200px;
				top: 80px;
				color: #ABABAB;
			}
			.box10 .price{
				position: absolute;
				left: 450px;
				top: 60px;
				color: #7C7C7C;
			}
			.box10 .number{
				position: absolute;
				left: 560px;
				top: 60px;
				color: #7C7C7C;
			}
			.box10 .text4{
				position: absolute;
				left: 640px;
				top: 40px;
				color: #7C7C7C;
			}
			.box10 .text5{
				position: absolute;
				left: 640px;
				top: 80px;
				color: #7C7C7C;
			}
			.box10 .text6{
				position: absolute;
				left: 740px;
				top: 40px;
				color: #7C7C7C;
			}
			.box10 .text7{
				position: absolute;
				left: 740px;
				top: 80px;
				color: #7C7C7C;
			}
			.box10 .comment{
				text-decoration: none;
				position: absolute;
				left: 880px;
				top: 60px;
				border: 1px solid #CCCCCC;
				background-color: #dddddd;
				color: black;
				border-radius: 10%;
			}
			.box11{
				position: absolute;
				left: 420px;
				top: 520px;
				width: 950px;
				height: 50px;
				border-style: solid none solid none;
				border-color: #e5e5e5;
			}
			.box11 .square{
				position: absolute;
				font-size: 30px;
				left: 10px;
				top: 5px;
				color: #848484;
			}
			.box11 .trash{
				position: absolute;
				font-size: 30px;
				right: 10px;
				top: 5px;
				color: #848484;
			}
			.box11 .text8{
				position: absolute;
				font-size: 20px;
				left: 50px;
				top: 10px;
				color: #848484;
			}
			.box12{
				position: absolute;
				top: 600px;
				left: 420px;
				width: 950px;
				height: 150px;
			}
			.box12 img{
				position: absolute;
				left: 20px;
			}
			.box12 ul li{
				list-style: none;
			}
			.box12 ul li a{
				text-decoration: none;
			}
			.box12 ul li p{
				position: absolute;
				left: 200px;
				top: 40px;
				color: #7C7C7C;
			}
			.box12 ul li span{
				position: absolute;
				left: 200px;
				top: 80px;
				color: #ABABAB;
			}
			.box12 .price{
				position: absolute;
				left: 450px;
				top: 60px;
				color: #7C7C7C;
			}
			.box12 .number{
				position: absolute;
				left: 560px;
				top: 60px;
				color: #7C7C7C;
			}
			.box12 .text9{
				position: absolute;
				left: 640px;
				top: 40px;
				color: #7C7C7C;
			}
			.box12 .text10{
				position: absolute;
				left: 640px;
				top: 80px;
				color: #7C7C7C;
			}
			.box12 .text11{
				position: absolute;
				left: 740px;
				top: 40px;
				color: #7C7C7C;
			}
			.box12 .text12{
				position: absolute;
				left: 740px;
				top: 80px;
				color: #7C7C7C;
			}
			.box12 .comment2{
				text-decoration: none;
				position: absolute;
				left: 880px;
				top: 60px;
				border: 1px solid #CCCCCC;
				background-color: #dddddd;
				color: black;
				border-radius: 10%;
			}
			.box13{
				position: absolute;
				left: 420px;
				top: 800px;
				width: 950px;
				height: 50px;
				border-style: solid none solid none;
				border-color: #e5e5e5;
			}
			.box13 .square{
				position: absolute;
				font-size: 30px;
				left: 10px;
				top: 5px;
				color: #848484;
			}
			.box13 .trash{
				position: absolute;
				font-size: 30px;
				right: 10px;
				top: 5px;
				color: #848484;
			}
			.box13 .text13{
				position: absolute;
				font-size: 20px;
				left: 50px;
				top: 10px;
				color: #848484;
			}
			.box14{
				position: absolute;
				top: 880px;
				left: 420px;
				width: 950px;
				height: 150px;
			}
			.box14 img{
				position: absolute;
				left: 20px;
			}
			.box14 ul li{
				list-style: none;
			}
			.box14 ul li a{
				text-decoration: none;
			}
			.box14 ul li p{
				position: absolute;
				left: 200px;
				top: 40px;
				color: #7C7C7C;
			}
			.box14 ul li span{
				position: absolute;
				left: 200px;
				top: 80px;
				color: #ABABAB;
			}
			.box14 .price{
				position: absolute;
				left: 450px;
				top: 60px;
				color: #7C7C7C;
			}
			.box14 .number{
				position: absolute;
				left: 560px;
				top: 60px;
				color: #7C7C7C;
			}
			.box14 .text14{
				position: absolute;
				left: 640px;
				top: 40px;
				color: #7C7C7C;
			}
			.box14 .text15{
				position: absolute;
				left: 640px;
				top: 80px;
				color: #7C7C7C;
			}
			.box14 .text16{
				position: absolute;
				left: 740px;
				top: 40px;
				color: #7C7C7C;
			}
			.box14 .text17{
				position: absolute;
				left: 740px;
				top: 80px;
				color: #7C7C7C;
			}
			.box14 .comment3{
				text-decoration: none;
				position: absolute;
				left: 880px;
				top: 60px;
				border: 1px solid #CCCCCC;
				background-color: #dddddd;
				color: black;
				border-radius: 10%;
			}
			.box15{
				position: absolute;
				left: 420px;
				top: 1080px;
				width: 950px;
				height: 50px;
				border-style: solid none solid none;
				border-color: #e5e5e5;
			}
			.box15 .square{
				position: absolute;
				font-size: 30px;
				left: 10px;
				top: 5px;
				color: #848484;
			}
			.box15 .trash{
				position: absolute;
				font-size: 30px;
				right: 10px;
				top: 5px;
				color: #848484;
			}
			.box15 .text18{
				position: absolute;
				font-size: 20px;
				left: 50px;
				top: 10px;
				color: #848484;
			}
			.box16{
				position: absolute;
				top: 1180px;
				left: 420px;
				width: 950px;
				height: 150px;
			}
			.box16 img{
				position: absolute;
				left: 20px;
			}
			.box16 ul li{
				list-style: none;
			}
			.box16 ul li a{
				text-decoration: none;
			}
			.box16 ul li p{
				position: absolute;
				left: 200px;
				top: 40px;
				color: #7C7C7C;
			}
			.box16 ul li span{
				position: absolute;
				left: 200px;
				top: 80px;
				color: #ABABAB;
			}
			.box16 .price{
				position: absolute;
				left: 450px;
				top: 60px;
				color: #7C7C7C;
			}
			.box16 .number{
				position: absolute;
				left: 560px;
				top: 60px;
				color: #7C7C7C;
			}
			.box16 .text19{
				position: absolute;
				left: 640px;
				top: 40px;
				color: #7C7C7C;
			}
			.box16 .text20{
				position: absolute;
				left: 640px;
				top: 80px;
				color: #7C7C7C;
			}
			.box16 .text21{
				position: absolute;
				left: 740px;
				top: 40px;
				color: #7C7C7C;
			}
			.box16 .text22{
				position: absolute;
				left: 740px;
				top: 80px;
				color: #7C7C7C;
			}
			.box16 .comment4{
				text-decoration: none;
				position: absolute;
				left: 880px;
				top: 60px;
				border: 1px solid #CCCCCC;
				background-color: #dddddd;
				color: black;
				border-radius: 10%;
			}
			.box17{
				position: absolute;
				top: 1400px;
				left: 1150px;
				width: 200px;
				height: 50px;
			}
			#pages .page-center{
				float: left;
			    transform: translateX(100%);
			}
			#pages ul li a{
				text-decoration: none;
			}
			#pages ul li{
			    display:block;
			    float:left;
			    height:20px;
			    text-align:center;
			    margin-right:5px; 
			    color:#a9a9a9;
				
			}
			#pages ul li a , #pages ul li span{
			    display:block;
			    float:left;
			    background:#ffffff;
			    padding:3px 3px;
			    height:20px;
			    text-align:center;
				border: 1px solid red;
			    color:black;
			}
			#pages ul li span{
			    background: #fff;
			    color:black;
			}
			#pages ul .prev a{
			    background:#fff url(../images/icons.png) no-repeat -52px -217px;
			}
			#pages ul .next a{
			    background:#fff url(../images/icons.png) no-repeat -75px -247px;
			}
			#pages ul li .num{
				padding-left: 3px;
				padding-right: 3px;
			}
			#pages .prev{
				padding-left: 3px;
				padding-right: 3px;
			}
			#pages .next{
				padding-left: 3px;
				padding-right: 3px;
			}
			#pages ul li .num01{
				background-color: #FF0000;
			}
			.box18{
				position: absolute;
				left: 190px;
				top: 1450px;
				width: 1200px;
				height: 160px;
				background-color: #dedede;
			}
			.box18 .img05{
				position: absolute;
				left: 100px;
				top: 40px;
				width: 65px;
				height: 100px;
				background: url(../images/sprite.png)no-repeat;
				background-position: -350px 0px;
			}
			.box18 .sx01{	/* 竖线 */
				position:absolute;
				top: 45px;
				left: 180px;
				width: 1px;
				height: 70px;
				background: red;
			}	
			.box18 .text7{
				position: absolute;
				left: 200px;
				top: 55px;
			} 
			.box18 .img06{
				position: absolute;
				left: 500px;
				top: 40px;
				width: 70px;
				height: 100px;
				background: url(../images/sprite.png)no-repeat;
				background-position: -415px 0px;
			}
			.box18 .sx02{	/* 竖线 */
				position:absolute;
				top: 45px;
				left: 580px;
				width: 1px;
				height: 70px;
				background: red;
			}	
			.box18 .text8{
				position: absolute;
				left: 600px;
				top: 55px;
			} 
			.box18 .img07{
				position: absolute;
				left: 900px;
				top: 40px;
				width: 60px;
				height: 100px;
				background: url(../images/sprite.png)no-repeat;
				background-position: -485px 0px;
			}
			.box18 .sx03{	/* 竖线 */
				position:absolute;
				top: 45px;
				left: 980px;
				width: 1px;
				height: 70px;
				background: red;
			}	
			.box18 .text9{
				position: absolute;
				left: 1000px;
				top: 55px;
			}
			.box19{
				position: absolute;
				top: 1650px;
				left: 305px;
				width: 1000px;
				height: 200px;
			}
			.box19 .img08{
				position: absolute;
				left: 100px;
			}
			.box19 .text10{
				position: absolute;
				top: 90px;
				left: 60px;
			}
			.box19 .text10 a{
				text-decoration: none;
				color: #7C7C7C;
			}
			.box19 .contact{
				font-size: 40px;
				position: absolute;
				top: 120px;
				left: 90px;
			}
			.box19 .contact a{
				color: #7C7C7C;
				text-decoration: none;
			}
			.box19 .sx04{	/* 竖线 */
				position:absolute;
				top: 20px;
				left: 290px;
				width: 1px;
				height: 160px;
				background-color: #7C7C7C;
			}
			.box19 .text11{
				position: absolute;
				left: 320px;
				top: 10px;
			}
			.box19 .text11 ul li{
				list-style: none;
				margin: 20px;
			}
			.box19 .text11 ul li a{
				color: #7C7C7C;
				text-decoration: none;
			}
			.box19 .text12{
				position: absolute;
				left: 420px;
				top: 10px;
			}
			.box19 .text12 ul li{
				list-style: none;
				margin: 20px;
			}
			.box19 .text12 ul li a{
				color: #7C7C7C;
				text-decoration: none;
			}
			.box19 .text13{
				position: absolute;
				left: 520px;
				top: 10px;
			}
			.box19 .text13 ul li{
				list-style: none;
				margin: 20px;
			}
			.box19 .text13 ul li a{
				color: #7C7C7C;
				text-decoration: none;
			}
			.box19 .text14{
				position: absolute;
				left: 620px;
				top: 10px;
			}
			.box19 .text14 ul li{
				list-style: none;
				margin: 20px;
			}
			.box19 .text14 ul li a{
				color: #7C7C7C;
				text-decoration: none;
			}
			.box19 .sx05{	/* 竖线 */
				position:absolute;
				top: 20px;
				left: 740px;
				width: 1px;
				height: 160px;
				background-color: #7C7C7C;
			}
			.box19 .text15{
				position: absolute;
				left: 780px;
				top: 10px;
			}
			.box19 .text15 ul li{
				list-style: none;
				margin: 20px;
			}
			.box19 .text15 ul li a{
				color: #7C7C7C;
				text-decoration: none;
			}
			.box20{
				position: absolute;
				left: 160px;
				top: 1900px;
				width: 1200px;
				height: 150px;
			}
			.box20 p{
				padding-top: 50px;
				margin-bottom: 30px;
				text-align: center;
				color: #ababab;
			}
			.box20 span{
				padding-left: 320px;
				text-align: center;
				color: #ababab;
			}