@charset "utf-8";
/* CSS Document */
/*样式重置。 list-style:none 去掉无序列表小圆点。如果浏览器不支持第一个字体，则会尝试下一个。字体加粗。数字值400等于关键字normal，700 等于bold*/
*{margin:0px;padding:0px;list-style:none;text-decoration:none;font-family:"微软雅黑", "宋体", "黑体";font-weight:normal;}
/*页头*/
body{
	background:linear-gradient(#efefef,#fff);
}
#headCon{
	min-width:1200px;/* 设置段落的最小宽度 */
}
/* 页头位置设置 */
#headCon>div{
	width:1200px;
	margin:auto;
	margin-top:10px;
	overflow:hidden;
}
/* 页头文字设置 */
#headCon>div>p{
	float:left;
	font-size:14px;
	color:#999;
}
/* 请注册位置设置 */
#headCon>ul{
	width:1200px;
	margin:auto;
	overflow:hidden;
	margin-top:30px;
}
/* 页头图片 */
#headCon>ul>a>li{
	float:left;
	width:92px;
	height:63px;
	background:url(../images/sprite.png) no-repeat -22px 0px;
}
/* 图片右边文字 */
#headCon>ul>p{
	float:left;
	font-size:24px;
	color:#4c4c4c;
	margin-top:24px;
	margin-left:20px;
}
/* 一竖 运用一个标签，在这个标签里设置一个宽为1px的背景颜色*/
#headCon>ul>span{
	float:left;
	width:1px;
	height:45px;
	background:#b5b5b5;
	margin:10px 0 0 20px;
}

/*内容*/
/* 调整位置 */
#contentCon{
	width:1200px;
	margin:auto;
	margin-top:30px;
}
/* 调整手机/邮箱注册位置 */
#contentCon>div{
	overflow:hidden;
	margin-left:260px;
}
/* 手机注册 */
#contentCon>div>p{
	float:left;
	width:128px;
	height:50px;
	background:#fff;
	text-align:center;
	line-height:50px;
	font-size:18px;
	color:#fb0000;
	border-top:1px solid #fb0000;
	border-right:1px solid #fb0000;
}
/* 邮箱注册 */
#contentCon>div>li{
	float:left;
	width:128px;
	height:50px;
	background:#fff;
	text-align:center;
	line-height:50px;
	font-size:18px;
	color:#4c4c4c;
	border-bottom:1px solid #fb0000;
}
/* 注册表单设置 */
#contentCon>form{
	width:1200px;
	height:585px;
	background:#fff;
}
/* 手机号码部分 */
#contentCon>form>ul{
	padding-top:80px;/* 上内边距 */
	margin-left:215px;/* 左外边距 */
}
/* 设置密码/确认密码部分 */
#contentCon>form>.box02{
	padding:0;
	margin-top:30px;
}
#contentCon>form>ul>p{
	float:left;
	font-size:14px;
	color:#4c4c4c;
	margin-right:10px;
	margin-top:10px;
}
/* 手机号————确认密码的输入框 */
#contentCon>form>ul>input{
	font-size:14px;
	color:#999;
	width:252px;
	height:34px;
	border:1px solid #b5b5b5;
	padding-left:14px;
}
/* 图形验证码部分 */
#contentCon>form>div{
	overflow:hidden;
	margin-left:202px;
	margin-top:30px;
}
#contentCon>form>div>p{
	float:left;
	font-size:14px;
	color:#4c4c4c;
	margin-top:10px;
	margin-right:10px;
}
/* 图形验证码输入框 */
#contentCon>form>div>input{
	color:#999;
	float:left;
	width:110px;
	height:34px;
	border:1px solid #b5b5b5;
	outline:none;
	font-size:14px;
	padding-left:14px;
	padding-right: 140px;
}
#contentCon>form>div>canvas{
	padding-left: 10px;
}
#changeImg{
	color: #007cb7;
	font-size:14px;
	position: relative;
	top: -15px;
}
/* 手机验证码部分 */
#contentCon>form>ol{
	overflow:hidden;
	margin-left:230px;
	margin-top:30px;
	position: relative;
	left: -28px;
}
#contentCon>form>ol>p{
	float:left;
	font-size:14px;
	color:#4c4c4c;
	margin-top:10px;
	margin-right:10px;
}
/* 手机验证码部分输入框 */
#contentCon>form>ol>input{
	color:#999;
	float:left;
	width:110px;
	height:34px;
	border:1px solid #b5b5b5;
	font-size:14px;
	padding-left:14px;
}
#btn{
	margin-left: 14px;
}
/* 同意服务部分 */
#contentCon>form>li{
	overflow:hidden;
	margin-top:40px;
	margin-left:296px;
}
/* 圆形选择框 */
#contentCon>form>li>input{
	float:left;
	width:16px;
	height:16px;
	margin-top:2px;
}
#contentCon>form>li>p{
	float:left;
	font-size:14px;
	color:#4c4c4c;
	margin-left:6px;
}
#contentCon>form>li>a{
	float:left;
	font-size:14px;
	color:#007cb7;
}
#add{
	height: 43px;
	width:360px;
	margin:auto;
	background-color: red;
	color: white;
	margin-top: 20px;
	font-size: 20px;
	position: relative;
	left: 200px;
}

/*页脚*/
/* 3大优势描述位置和背景设置 */
#footCon>ul{
	width:1200px;
	height:168px;
	background:#eee;
	margin:auto;
	overflow:hidden;
	margin-top:80px;
}
#footCon>ul>li{
	width:330px;
	float:left;
	margin-top:45px;
	margin-left:70px;
	overflow:hidden;
}
#footCon>ul>li>.cold{
	width:65px;
	height:65px;
	background:url(../images/sprite.png) no-repeat -351px 0px;
	float:left;
	margin-top:10px;
}
#footCon>ul>li>.wuxiu{
	width:69px;
	height:69px;
	background:url(../images/sprite.png) no-repeat -418px 0px;
	float:left;
	margin-top:10px;
}
#footCon>ul>li>.baoyou{
	width:58px;
	height:72px;
	background:url(../images/sprite.png) no-repeat -488px 0px;
	float:left;
	margin-top:10px;
}
/* 文字描述左边一竖线 */
#footCon>ul>li>span{
	float:left;
	width:1px;
	height:80px;
	background:#fb0000;
	margin:0 30px 0 30px;
}
#footCon>ul>li>ol>h2{
	font-size:30px;
	color:#fb0000;

}
#footCon>ul>li>ol>p{
	font-size:24px;
	color:#4c4c4c;
	margin-top:10px;
}
#footCon>ol{
	width:1200px;
	margin:auto;
	margin-top:50px;
	overflow:hidden;
}
/* 页脚网址设置 */
#footCon>ol>li{
	float:left;
	margin-left:120px;
	margin-right:85px;
}
/* 网址左图 */
#footCon>ol>li>i{/* block：此元素将显示为块级元素，此元素前后会带有换行符。 */
	display:block; /* block块页面布局中,主要是用来将内容从上到下排列的 */
	width:92px;
	height:62px;
	background:url(../images/sprite.png) no-repeat -23px 0px;
	margin-left:20px;
}
/* 设置微博/微信图标 */
#footCon>ol>li>a{
	display:block;
	font-size:14px;
	color:#4c4c4c;
	margin-top:20px;
}
#footCon>ol>li>div{
	overflow:hidden;
	margin-top:24px;
	margin-left:10px;
}
#footCon>ol>li>div>.weibo{
	float:left;
	width:33px;
	height:27px;
	background:url(../images/sprite.png) no-repeat -546px 0px;
}
#footCon>ol>li>div>.weixin{
	float:left;
	width:36px;
	height:30px;
	background:url(../images/sprite.png) no-repeat -582px 0px;
	margin-left:40px;
}
/* 页脚文字 */
#footCon>ol>ul{
	float:left;
	width:540px;
	border-left:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;

}
#footCon>ol>ul>li{
	float:left;
	margin-right:50px;
}
#footCon>ol>ul>.text01{
	margin-left:80px;
}
#footCon>ol>ul>li>p{
	font-size:14px;
	color:#4c4c4c;
}
/* 下划灰线 */
#footCon>ol>ul>li>span{
	display:block;
	width:50px;
	height:1px;
	background:#b5b5b5;
	margin-left:5px;
	margin-top:10px;
}
#footCon>ol>ul>li>a{
	display:block;
	font-size:14px;
	color:#808080;
	margin-top:20px;
}
/* “联系我们”描述div */
#footCon>ol>div{
	text-align:center;
	float:left;
	margin-left:50px;
}
#footCon>ol>div>p{
	font-size:14px;
	color:#4d4d4d;
}
#footCon>ol>div>h2{
	font-size:18px;
	color:#4c4c4c;
	margin-top:20px;
}
#footCon>ol>div>span{
	display:block;/* block：此元素将显示为块级元素，此元素前后会带有换行符。将内容从上到下排列. */
	font-size:14px;
	color:#4d4d4d;
	margin-top:20px;
}
/* 在线客服的圆弧背景 */
#footCon>ol>div>a{
	display:block;
	width:75px;
	height:25px;
	background:#b5b5b5;
	border-radius:8px;
	color:#fff;
	margin-top:20px;
	margin-left:26px;
	font-size:14px;
	line-height: 25px;
}
/* 页脚分割 */
#footCon>div{
	margin:auto;
	width:1200px;
	height:1px;
	background:#b5b5b5;
	margin-top:30px;
}
/* 版权 */
#footCon>li{
	width:1200px;
	margin:auto;
	text-align:center;
	font-size:14px;
	margin-top:40px;
	color:#808080;
}
#footCon>li>span{
	display:block;
	margin-top:20px;
}














